.booking{
    width:66rem;
    margin-left: 10rem;
}
.booking .heading{
    font-size: 32px;
}
form{
    margin-left: 5rem;
}
.form-control ,.form-select{
    width: 35rem !important;
}
.form-label{
    font-size: 18px !important;
    text-transform: capitalize;
}