
.service-list {
 margin-left: 10rem;
 width: 68rem !important;
 padding: 16px;
}
thead{
    font-size: 20px;
}
tbody{
    font-size: 18px;
}
.service_heading{
    margin-top: 0.5rem !important;
    margin-left: 1rem !important;
    width: 66rem !important;
    border-bottom: 5px solid gray;
}