body {
    background-color:#232526 !important;
}
.dashboard {
  margin-left: 14rem;
}
.dashboard .welcome {
  font-size: 32px;
  font-weight: 500;
  text-transform: capitalize;
  margin-top: 2rem;
  text-align: center;
  color: white;
}
.box {
  box-sizing: border-box;
  float: left;
  margin-left: 45px;
  width: 200px;
  height: 200px;
  border-radius: 20px !important;
}
.box p {
  color: white;
  margin-top: 3rem;
  font-size: 32px;
  font-weight: 600;
  text-transform: capitalize;
  text-align: center;
  padding: 8px;
}
.user {
  background: linear-gradient(to right, #4776e6, #8e54e9);
}
.service {
  background: linear-gradient(to right, #ff8008, #ffc837);
}
.booking {
  background: linear-gradient(to right, #1d976c, #93f9b9);
}
.feedback {
  background: linear-gradient(to right, #eb3349, #f45c43);
}