
.dashboard {
  margin-left: 14rem;
}
.card {
  box-sizing: border-box;
  float: left;
  width: 250px;
  height: 150px;
  border-radius: 20px !important;
  margin-left: 50px;
  box-shadow: 3px 3px 3px gray;
  margin-top: 15px;
}
.card p {
  font-size: 32px;
  font-weight: 600;
  text-transform: capitalize;
  text-align: center;
  padding: 8px;
  margin-top: -10px;
}
.card .card-title{
  font-size: 26px;
  font-weight: 600;
  text-align: center;
  margin-top: 10px;
}
.card img{
  width: 100px;
  height: 100px;
  margin-top: 25px;
  margin-left: 10px;
}
