.booking-details{
    margin-left: 12rem !important;
    width: 66rem !important;
    padding: 16px;
  }
.details p{
 font-size: 16px;
}
.set1 p{
  margin-left: 6rem;
}
.set2 p{
  margin-left: 6rem;
}